<ul *ngIf="data && !!data.results.length" class="grid gap-2 max-w-xl mx-auto p-4">
	<li
		class="p-2 border-white border-solid border rounded-md grid gap-2 grid-cols-[auto_auto_1fr_auto] items-center"
		*ngFor="let item of data.results"
	>
		<span
			class="px-2 py-1 text-xs border border-white border-solid block rounded-sm"
			[ngStyle]="{ backgroundColor: parkZoneColors.get(item.parkeertariefzone) }"
			>{{ item.gexxxx }}</span
		>
		<h1 class="text-sm">{{ item.straat }} {{ item.huisnr }}</h1>
		<p class="text-xs text-gray-400">- {{ item?.haversine | number: "1.2-2" }} km</p>
		<ng-icon name="bootstrapChevronCompactRight"></ng-icon>
	</li>
</ul>
